@mixin flexColumnMobile {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@mixin flexColumnMobile2($rowGap) {
    display: flex;
    flex-direction: column;
    row-gap: $rowGap;
}

@mixin flexColumnMobile3($rowGap : 20px) {
    display: flex;
    flex-direction: column;
    row-gap: $rowGap;
}

@mixin mobileSection($rowGap : 20px){
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $rowGap;
}